@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>@ViewData["Privacy"]This is the viewdata in homecontroller </h1>
<h2>@((int)ViewData["Add"]+2)</h2>